*,*::before,*::after{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,#000000, #0088ff);
}
.calculator-grid{
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid  > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background: #dbcecea1;
}
.calculator-grid  > button:hover{
    background: white;
}
.span-two{
    grid-column: span 2;
}
.out-put{
    grid-column: 1/-1;
    background: #00000097;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.out-put .previous-opprand{
    color: #1173be;
    font-size: 1.5rem;
}
.out-put .current-opprand{
    color: #77b5f6;
    font-size: 2.5rem;
}